body {
  padding: 0;
  margin: 0px;
}

.CodeMirror {
  min-height: 100%;
  font-family: 'consolas' !important;
}

#textarea-box {
  display: grid;
  // grid-template-columns: repeat(2, 1fr);
  grid-template-columns: 40% 1fr;
  grid-gap: 10px;

  section {
    overflow: auto;
  }
}


.span-row-2 {
  grid-row: span 2 / auto;
}